*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background-color: rgb(194, 191, 191);
    
}

h1{
    text-align: center;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

article>h1{
    color: red;
    text-shadow: none;
    margin-bottom: 0px;
}

article>p{
    text-align: center;
    margin-bottom: 40px;
}

form{
    margin: auto;
    background-color: white;
    min-width: 250px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.418);
}

section{
    padding: 20px;
}

div#foto{
    background: url('imagens/rogerio_menezes.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}



p{
    
}

p#botao{
    text-align: center;
}

p#botao > input{
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    border-style: none;
    
}

div{
    margin-top: 40px;
    text-align: center;
}

div#res{
    margin-top: 20px;
}
